/* ================================
   CONTENEDOR GLOBAL
================================ */
.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5%;
}

/* ================================
   SECCIONES GENERALES
================================ */
section {
  padding: 90px 0;
}

section h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #0f2f36;
}

section p {
  font-size: 16px;
  line-height: 1.7;
  color: #444;
}
